.align-right {
    text-align: right;
}

.display-ticker{
    background-color: black;
    color: grey;
    height: 15%;
    width: 40%;
    display: flex;
  
  }
  
  .left-col{
      width: 50%;
      display:flex;
  }
  
  .right-col{    
      width: 50%;
      flex-direction: column;
      }
  
  .ticker-info{ 
     margin: 10px 10px 10px 10px;
   }
  
  .margin-icon{
    margin:30px 10px 30px 10px;
  }

