.display{
  background-color: black;
  color: grey;
  height: 15%;
  width: 40%;
  display: flex;

}

.leftPanel{
    width: 50%;
    display:flex;
}

.rightPanel{    
    width: 50%;
    flex-direction: column;
    
}

 .elemposition{
  display: flex;
  flex-direction: column-reverse;
  column-gap: 20px;
  justify-content: space-between;
  
 }

 .image{
   height: 25px;
 }

 .left-image{
   position: absolute;
   width:15%;
   height: 100px
  
 }

 .ticker-info{ 
   margin: 10px 10px 10px 10px;
 }

 .right-elements{
   width:40%;
   height: 100px
   
 }

.margin-icon{
  margin:30px 10px 30px 10px;
}


  
  table {
    font-family: "Fraunces", serif;
    font-size: 100%;
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 20px;
    table-layout: fixed;
    border: 1px solid black;
    background-color: black;
  }

  th{
    color : grey;
  }

  td{
    color : white
  }

  .navbar:hover{
    background-color: #ddd;
    
  }

  .navbar{
    border: 1px solid grey;
    width: 267px ;
    background-color: black;
    text-align: right
  }
  
  .nav-link {
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  }